@model HistRepro.Models.Afore

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Afores</h4>
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-body">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Claveconsar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Claveconsar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clavecorta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clavecorta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatusparticipacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatusparticipacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechaaltaparticipacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechaaltaparticipacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechaautorizacionoficio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechaautorizacionoficio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechacambioparticipacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechacambioparticipacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechaestatusparticipacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechaestatusparticipacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombrecorto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombrecorto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numerooficioautorizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numerooficioautorizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsableinformacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsableinformacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Claveentidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Claveentidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcionentidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcionentidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdaforeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdaforeNavigation.Idparticipante)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idafore">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
            </div>
        </div>
    </div>
</div>
